.card {
    margin: 2vw;
    width: 20vw;
    height: 15vw;
    background-color: rgb(231, 231, 231);
    float: left;
}

img {
    padding: 1vw;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
}

ul {
    text-align: left;
    line-height: 2vw;
    margin-top: 2vw;
}
