.card {
    position: absolute;
    margin: 3vw;
    width: 20vw;
    height: 20vw;
    background-color: rgb(231, 231, 231);
}

img {
    padding: 1vw;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
}
